
.splide__slide_1{
    width: 100%;
    height: 400px;
    background: blue;
    font-size: 30px;
    color: white;
}

.splide__slide_2{
    width: 100%;
    height: 400px;
    background: red;
}

.splide__slide_3{
    width: 100%;
    height: 400px;
    background: green;
}