
body{
    height: 100vh;
    display: grid;
    /* grid-template-columns: 20% 20% 20%; */
    grid-template-rows: repeat(5,200px);
}

.block1
.block2
.block3
.block4
.block5
.block6
.block7
.block8
.block9{
    /* width: 100%;
    height: 100px; */
    width: 200px;
    height: 200px;
}

.block1{
   background: green;
}

.block2{
    background: rgb(216, 108, 6);
 }

 .block3{
    background: rgb(208, 230, 11);
 }

 .block4{
    background: rgb(19, 220, 235);
 }

 .block5{
    background: rgb(104, 17, 219);
 }

 .block6{
    background: rgb(174, 18, 221);
 }

 .block7{
    background: rgb(8, 98, 110);
 }

 .block8{
    background: rgb(15, 1, 5);
 }

 .block9{
    background: rgb(11, 14, 190);
 }